@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
@*<h1>Active Users</h1>
    <h2><span id="users"></span></h2>*@
<h5 class="mb-3">
    <strong>Dashboard</strong>
</h5>

<!--Dashboard widget-->
<div class="mt-1 mb-3 button-container">
    <div class="row pl-0">
        <div class="col-xl col-md-4 col-sm-6 col-12 mb-3">
            <div class="bg-light-blue border shadow">
                <div class="media p-4">
                    <div class="align-self-center mr-3 rounded-circle notify-icon bg-theme">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="media-body pl-2">
                        <h3 class="mt-0 mb-0">
                            <strong class="text-white" id="users">1</strong>
                        </h3>
                        <p>
                            <small class=" bc-description text-white">Total User Online</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pl-0">
        <div class="col-xl col-md-4 col-sm-6 col-12 mb-3">
            <div class="  border shadow" style="background-color:#54C3D5;">
                <div class="media p-4">
                    <div class="align-self-center mr-3 rounded-circle notify-icon bg-white">
                        <i class="fas fa-users text-theme"></i>
                    </div>
                    <div class="media-body pl-2">
                        <h3 class="mt-0 mb-0">
                            <strong class="text-white">15</strong>
                        </h3>
                        <p>
                            <small class="  bc-description text-white">TRDI </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl col-md-4 col-sm-6 col-12 mb-3">
            <div class="  border shadow" style="background-color:#88E47F;">
                <div class="media p-4">
                    <div class="align-self-center mr-3 rounded-circle notify-icon bg-white">
                        <i class="fas fa-users text-theme"></i>
                    </div>
                    <div class="media-body pl-2">
                        <h3 class="mt-0 mb-0">
                            <strong class="text-white">60</strong>
                        </h3>
                        <p>
                            <small class="bc-description text-white">MCR</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl col-md-4 col-sm-6 col-12 mb-3">
            <div class="  border shadow" style="background-color:#8E7FE4;">
                <div class="media p-4">
                    <div class="align-self-center mr-3 rounded-circle notify-icon bg-white">
                        <i class="fas fa-users text-theme"></i>
                    </div>
                    <div class="media-body pl-2">
                        <h3 class="mt-0 mb-0">
                            <strong class="text-white">60</strong>
                        </h3>
                        <p>
                            <small class="bc-description text-white">OPM</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl col-md-4 col-sm-6 col-12 mb-3">
            <div class="  border shadow" style="background-color:#EF5F5F;">
                <div class="media p-4">
                    <div class="align-self-center mr-3 rounded-circle notify-icon bg-white">
                        <i class="fas fa-users text-theme"></i>
                    </div>
                    <div class="media-body pl-2">
                        <h3 class="mt-0 mb-0">
                            <strong class="text-white">60</strong>
                        </h3>
                        <p>
                            <small class="bc-description text-white">LAPIS</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl col-md-4 col-sm-6 col-12 mb-3">
            <div class="  border shadow" style="background-color:#5FEFAA;">
                <div class="media p-4">
                    <div class="align-self-center mr-3 rounded-circle notify-icon bg-white">
                        <i class="fas fa-users text-theme"></i>
                    </div>
                    <div class="media-body pl-2">
                        <h3 class="mt-0 mb-0">
                            <strong class="text-white">60</strong>
                        </h3>
                        <p>
                            <small class="bc-description text-white">LSI</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Dashboard widget-->
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-xl-3 ">
            <div class="card   button-container   shadow-sm  ">
                <div class="card-header ">
                    <h6 class="mb-2">Doughnut chart</h6>
                </div>
                <div class=" card-body">
                    <div class="chart-container"> 
                        <canvas id="doughnutChart" height="150px"  ></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl ">
            <div class="card   button-container   shadow-sm  ">
                <div class="card-header">
                    <h6 class="mb-2">Doughnut chart</h6>
                </div>
                <div class=" card-body ">
                    <table class="table table-sm text-sm-center">
                        <thead class="bg-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>xmdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>xfat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>xtwitter</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-xl-3 ">
            <div class="card   button-container   shadow-sm  ">
                <div class="card-header">
                    <h6 class="mb-2">Doughnut chart</h6>
                </div>
                <div class=" card-body">
                    <canvas id="pieChart" height="150px"  ></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-xl-6  ">
            <div class="card   button-container panel-head-primary  shadow-sm  ">
                <div class="card-header">
                    <h6 class="mb-2">Doughnut chart</h6>
                </div>
                <div class=" card-body">
                    <canvas id="barChart1" height="100px"></canvas>
                </div>
            </div>
        </div>
        <div class="col-xl-6   ">
            <div class="card   button-container panel-head-primary  shadow-sm  ">
                <div class="card-header">
                    <h6 class="mb-2">Doughnut chart</h6>
                </div>
                <div class=" card-body">
                    <canvas id="barChart2" height="100px"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
    @section scripts{
        <!--Reference the autogenerated SignalR hub script. -->


        <script src="~/lib/microsoft-signalr/signalr.js"></script>
        <script type="text/javascript">

            document.addEventListener('DOMContentLoaded',
                function () {
                    function bindConnectionMessage(connection) {
                        var messageCallback = function (message) {
                            console.log('message' + message);
                            if (!message) return;
                            var userCountSpan = document.getElementById('users');
                            userCountSpan.innerText = message;
                        };
                        connection.on("updateCount", messageCallback);
                        connection.onclose(onConnectionError);
                    }

                    function onConnected(connection) {
                        console.log('connection started');
                    }

                    function onConnectionError(error) {
                        if (error && error.message) {
                            //alert(error.message);
                            //console.error(error.message);
                        }
                    }

                    var connection = new window.signalR.HubConnectionBuilder().configureLogging(window.signalR.LogLevel.Debug).withUrl('/DemoSkillTest/CounterHub').build();


                    bindConnectionMessage(connection);
                    connection.start()
                        .then(function () {
                            onConnected(connection);
                        })
                        .catch(function (error) {
                            //alert(error.message);
                            //console.error(error.message);
                        });
                });
          
        </script>
    }
